<div class="jumbotron">
    <select data-ng-model="requestParams.method">
        <option>GET</option>
        <option>POST</option>
        <option>PUT</option>
        <option>DELETE</option>
        <option>HEAD</option>
    </select>
    <input type="text" data-ng-model="requestParams.url" />
    <button data-ng-click="doRequest()">Do it!</button>
</div>
<div class="responses">
    <div class="response-container">
        <label class="success">Success</label>
        <textarea rows="10" cols="50" data-ng-model="successResponse"></textarea>
    </div>
    <div class="response-container">
        <label class="error">Error</label>
        <textarea rows="10" cols="50" data-ng-model="errorResponse"></textarea>
    </div>
</div>
